@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2b89f8;
  --color-status-operational: #3ba55d;
  --color-status-degraded: #a38f2a;
  --color-status-down: #a31b29;
  --color-text-secondary: #6b7280;
  --color-button-hover: #badaff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light mode (default) */
:root {
  color-scheme: light;
  color: #1f2937;
  background-color: #ffffff;
}

/* Dark mode */
.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
